.imageProfile {
    border-radius: 10px;
}
.containerAbout {
    display: flex;
    flex-direction: row;
    margin-inline: 30px;
}
.containerText {
    background-color:rgba(0,7,33,0.8);
margin-inline: 20px;
padding: 15px;
border-radius: 15px;
margin-bottom: 10px;
display: flex;
align-items: center;
flex-direction: column;
}
.title {
    justify-content: center;
    display: flex;
    color: antiquewhite;
    font-weight: 400;
}
.textAbout {
    color: beige;
    font-size: 18px;
    align-self: center;
    font-style: italic;
}
.buttonAbout {
    background-color: transparent;
    border:none;
    width: 1300px;

}