.app-container {
  align-items: stretch;
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: url('./Asset/Fondo.png');
  background-size: cover;
  background-position:inherit;
}


